@import "@picocss/pico/scss/pico";

/** React blueprint svg **/

.canvas-container {
  @extend .container-fluid;
  margin-top: var(--pico-spacing);
  margin-bottom: var(--pico-spacing);

  & > * {
    height: 437px;
    background-color: #3177C6;
  }

  header {
    display: none;
  }
  
  section {
    margin-bottom: 0;
  }
}

/** Content **/
.content-container {
  label {
    margin-left: auto;

    input {
      margin-left: 0.375em;
      margin-inline-start: 0.375em;
      margin-right: 0;
      margin-inline-end: 0;
    }
  }

  p {
    i {
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: -2px;
      --ggs: .8;
      color: var(--pico-primary);
    }
  }
}

/** Form **/

.layout-item-container {
  @extend .grid;
  @extend article;
  padding: var(--pico-spacing);
  margin: var(--pico-spacing) 0;
  
  input, select, label, button {
    margin-bottom: 0;
  }
}

.layout-item-offset-top {
  margin-top: calc(var(--pico-spacing) * 0.25 + 31px);
}

label {
  span {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    border-bottom: none !important;

    i {
      display: inline-flex;
      margin-left: 8px;
      // margin-bottom: -2px;
      --ggs: .8;
      color: var(--pico-primary);
    }
  }
}

/** Info Icon **/
.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--pico-ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px
}
.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px
}
.gg-info::after {
  bottom: 2px;
  height: 8px
}
.gg-info::before {
  height: 2px;
  top: 2px
}

/** Errors Section **/
.errors-container {
  position: sticky;
  z-index: 99;
  top: var(--pico-spacing);
  border: var(--pico-border-width) solid var(--pico-form-element-invalid-border-color);
}

/** Nav **/

.github-icon {
  margin-right: var(--pico-nav-element-spacing-horizontal);
}

.flex-no-shrink {
  flex-shrink: 0;
}

/** Tabs **/

$tabBorder: 4px;
$tabBorderGap: 4px;
$tabMarginBottom: var(--pico-typography-spacing-vertical);

.tabs {
  display: flex;
  padding: 0;
}

.tab {
  min-width: 120px;
  text-align: center;
  cursor: pointer;
  transition: var(--pico-transition);
  padding-left: var(--pico-nav-element-spacing-horizontal);
  padding-right: var(--pico-nav-element-spacing-horizontal);
  padding-top: var(--pico-nav-element-spacing-vertical) ;
  padding-bottom: $tabBorderGap;
  margin-bottom: $tabMarginBottom;
}

.tab.active {
  color: var(--pico-primary);
  border-bottom: $tabBorder solid var(--pico-primary);
  font-weight: bold;
  margin-bottom: calc($tabMarginBottom - $tabBorder);
}

/** Modal **/
article {
  header {
    margin-bottom: var(--pico-spacing);
  }
}

details.dropdown summary+ul {
  /** Avoid dropdown blocked by other components **/
  z-index: 100;
  
  li {
    /** Fix dropdown button seo issue **/
    .button-dropdown-a {
      display: block;
      margin: calc(var(--pico-form-element-spacing-vertical) * -0.5)
        calc(var(--pico-form-element-spacing-horizontal) * -1);
      padding: calc(var(--pico-form-element-spacing-vertical) * 0.5)
        var(--pico-form-element-spacing-horizontal);
      overflow: hidden;
      border-radius: 0;
      color: var(--pico-dropdown-color);
      text-decoration: none;
      text-overflow: ellipsis;

      &:hover,
      &:focus,
      &:active,
      &:focus-visible,
      &[aria-current]:not([aria-current="false"]) {
        background-color: var(--pico-dropdown-hover-background-color);
      }
    }
  }
}

